<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Antrian Servis Motor</title>
    <link rel="stylesheet" href="../public/output.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors:{
              left1: "#780000",
              leftmid1: "#c1121f",
              mid1: "#e85d04",
              rightmid1: "#003049",
              right1: "#669bbc"
        },
          }
        }
      }
    </script>
</head>
<body class="bg-left1 font-poppins">
    <header class="flex justify-center items-center gap-10 text-white py-4 bg-leftmid1">
        {% if user.is_authenticated %}
        <div class="cursor-pointer hover:border-b"><a href="/admin">Admin</a></div>
        <div class="cursor-pointer hover:border-b"><a href="/logout">Logout</a></div>
        <div class="cursor-pointer hover:border-b"><a href="/">User</a></div>
        {% else %}
        <div class="cursor-pointer hover:border-b"><a href="/login">Admin</a></div>
        <div class="cursor-pointer hover:border-b"><a href="/">User</a></div>
        {% endif %}
    </header>

    <div>{% block content %} {% endblock %}</div>
</body>
</html>