{% extends "base.html" %} {% block content%}
<section class="grid md:grid-cols-2 gap-10 md:text-xl text-center py-10 w-[60%] md:w-[80%] max-w-5xl mx-auto">
    <form method="POST" class="bg-leftmid1">
        <h1 class="py-4 font-bold text-white">Ambil antrian</h1>
        <input type="submit" name="antrian" value='{{antrian}}' class="cursor-pointer w-40 bg-slate-400 text-9xl mb-8">
    </form>
    <form method="GET" class="bg-leftmid1">
        <h1 class="py-4 font-bold text-white">Nomor ambil motor</h1>
        <input type="submit" name="pengambilan" value="{{pengambilan}}" class="w-40 bg-slate-400 text-9xl mb-8" disabled>
    </form>
</section>
{% endblock %}