{% extends "base.html" %} {% block content%}
<section class=" text-center py-10 w-[60%] md:w-[80%] max-w-5xl mx-auto ">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if category == 'error' %}
    <div class="alert bg-red-100 rounded-lg py-5 px-6 mb-3 text-base text-red-700 flex items-center mx-auto w-full mt-1" role="alert">
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check-circle" class="w-4 h-4 mr-2 fill-current" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z"></path>        </svg>
        {{message}}
        <svg class="btn-close box-content w-4 h-4 p-1 ml-auto text-yellow-900 border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-yellow-900 hover:opacity-75 hover:no-underline" role="button" data-bs-dismiss="alert" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}
    <form method="POST" class="bg-leftmid1 py-4 rounded-md">
      <div>
        <h1 class="pb-4 font-bold text-white md:text-xl">Email</h1>
        <input type="email" name="email" class="px-1 rounded-sm">
        <h1 class="py-4 font-bold text-white md:text-xl">Passsword</h1>
        <input type="password" name="password" class="px-1 rounded-sm">
      </div>
        <button type="submit" class="bg-white mt-4 px-2">Login</button>
    </form>
</section>
{% endblock %}